.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px #60BEA0 solid ;
}

.timer{
  position: absolute;
  width: 100%;
  align-self: center;
}

.time{
  font-weight: 700;
  font-size: 1.5em;
}

.score{
  align-self: center;
}

.two-columns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

.final-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.final-score{
  padding: 10px;
  border: #60BEA0 1px solid;
  border-radius: 20px;
  width: 30%;
  height: 25%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.go-back{
  position: absolute;
  top: 100px;
  left: 10px;
  font-size: 1em !important;
}

.letter{
  font-size: 4em;
  width: 2em;
  border-bottom: 3px #60BEA0 solid;
  border-top: 3px #60BEA0 solid;
  border-radius: 10px;
}

#letter-input{
  border: 0;
  font-size: 4em;
  width: 2em;
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid #60BEA0;
  border-top: 3px solid #60BEA0;
  border-radius: 10px;
  outline: 0;
  padding: 1em 0;
  background: transparent;
  transition: border-color 0.2s;
}

.Character {
  white-space: pre;
  font-size: 2em;
}

.Character-current {
  background-color: #60BEA0;
}

.Character-out {
  color: silver;
}
