.home{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title{
  font-size: 5em;
  font-weight: 300;
  margin-bottom: 1.25em;
}

.btn-container{
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.btn{
  border: 1px #60BEA0 solid;
  border-radius: 10px;
  font-size: 2em;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;

  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.btn:hover{
  background: #c2e5d4;
}

.btn:visited{
  color: black;
}
